{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block styles1 %}
    <link rel="stylesheet" href="{% static 'recipe/css/about.css' %}" />
    <link
        rel="stylesheet"
        href="{% static 'recipe/components/recipe-grid.css' %}"
    />
{% endblock styles1 %}

{% block content %}
    <section class="about-grid">
        <img src="{% static 'base-images/about.jpeg' %}" alt="about image" />

        <div class="contact-section">
            <p>
                This Project is an attempt to reverse the Simply Recipes Project made by
                <a href="https://johnsmilga.com/" target="_blank">John Smilga</a>.
                Note though that maybe one day this project will actually evolve and achieve
                new goals.
            </p>
            <a href="#" class="button contact-link">Contact Us</a>
        </div>
    </section>

    <h1 class="recipes-grid-title">Look at this Awesomeness!</h1>
    <div class="recipes-grid">
        {% for recipe in recipe_list %}
            <div class="recipe-card">
                {% include 'recipe/components/recipe-card.html' %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
