{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block styles1 %}
    <link rel="stylesheet" href="{% static 'recipe/css/index.css' %}" />
    <link
        rel="stylesheet"
        href="{% static 'recipe/components/recipe-grid.css' %}"
    />
{% endblock styles1 %}

{% block content %}
    <section class="main-image">
        <img src="{% static 'base-images/main.jpeg' %}" alt="main image" />
        <div class="headings">
            <h1>Simply Recipes</h1>
            <h2>No Fluff, Just Recipes</h2>
        </div>
    </section>

    <main class="page-grid">
        <aside
            hx-target=".recipes-grid"
            hx-swap="transition:true show:top settle:50ms"
            hx-push-url="true"
        >
            <h3>Tags</h3>
            <nav>
                <button hx-get="{% url 'index' %}" class="button active">
                    All
                </button>

                {% for tag in tag_list %}
                    <button
                        hx-get="{% querystring tag=tag %}"
                        class="button non-active"
                    >
                        {{ tag }}
                    </button>
                {% endfor %}
            </nav>
        </aside>

        {% include 'recipe/components/spinner-and-recipe-grid.html' %}
    </main>
{% endblock content %}

{% block scripts1 %}
    <script src="{% static 'htmx.js' %}"></script>
    <script src="{% static 'recipe/js/index.js' %}"></script>
{% endblock scripts1 %}
