{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe }} Recipe Details {% endblock title %}

{% block styles1 %}
    <link rel="stylesheet" href="{% static 'recipe/css/recipe_detail.css' %}" />
{% endblock styles1 %}

{% block content %}
    {% if recipe.has_been_updated %}
        <div class="callout-card modified">
            The info provided here has been updated manually. PLEASE NOTE THOUGH that
            the updates were only made with the help of ChatGPT, thus no guarantees on
            the accuracy and reliability of the provided information.
        </div>
    {% else %}
        <div class="callout-card not-modified">
            This Recipe has unfortunately not been updated manually yet. All mistakes
            and default values though will be taken care of in the nearest convenience!
        </div>
    {% endif %}

    <main class="recipe-main">
        <img src="{{ recipe.image_url }}" alt="image of {{ recipe }}" />

        <div class="details">
            <h1>{{ recipe }}</h1>
            <small>Last Edited in: {{ recipe.last_modified|date:"d/m/Y" }}</small>
            <p>{{ recipe.description }}</p>

            <div class="additional-details-grid">
                <div class="additional-detail-card">
                    <i class="bx bx-time"></i>
                    <p>Prep Time</p>
                    <span>{{ recipe.preparation_time }} min</span>
                </div>
                <div class="additional-detail-card">
                    <i class="bx bxs-timer"></i>
                    <p>Cook Time</p>
                    <span>{{ recipe.cooking_time }} min</span>
                </div>
                <div class="additional-detail-card">
                    <i class="bx bx-dish"></i>
                    <p>Serving</p>
                    <span>{{ recipe.number_of_servings }}</span>
                </div>
            </div>

            <div class="tags-grid">
                <small>Tags:</small>
                {% for tag in recipe.tags.all %}
                    <small>
                        <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                    </small>
                {% endfor %}
            </div>
        </div>
    </main>

    <section class="additional-details">
        <div class="instructions-grid">
            <h2>Instructions</h2>
            {% for instruction in recipe.instructions_list %}
                <div class="instruction-card">
                    <div class="step-title">
                        <p>Step{{ forloop.counter }}</p>
                        <hr />
                    </div>
                    <p>{{ instruction }}</p>
                </div>
            {% endfor %}
        </div>

        <ul class="items-grid">
            <h3>Ingredients</h3>
            {# PLEASE NOTE here that we're getting records from the RecipeIngredient Model #}
            {# and for each record we get along with it THE CACHED Ingredient Model. #}
            {# Please see the RecipeDetail View for more details on how this is done. #}
            {% for record in recipe.recipe_ingredients %}
                <li>
                    <div class="ingredient-card">
                        <img
                            src="{{ record.ingredient.image_url }}"
                            alt="image of {{ record.ingredient }}"
                        />
                        <p>
                            <b>{{ record.quantity }}</b> of
                            {{ record.ingredient }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <ul class="items-grid">
            <h3>Tools</h3>
            {% for tool in recipe.tools.all %}
                <li>{{ tool }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
