{% extends 'base.html' %}
{% load static %}

{% block styles1 %}
    <link
        rel="stylesheet"
        href="{% static 'recipe/components/recipe-grid.css' %}"
    />
    <link rel="stylesheet" href="{% static 'recipe/css/recipe_list.css' %}" />
{% endblock styles1 %}

{% block title %}All Recipes{% endblock title %}

{% block content %}
    <h1>Search for Recipes</h1>

    <div class="input-section">
        <i class='bx bx-search-alt'></i>
        <input
            type="search"
            name="query"
            placeholder="Begin Typing To Search By Name..."
            hx-get="{% url 'recipe-list' %}"
            hx-trigger="input changed delay:500ms"
            hx-target=".recipes-grid"
            hx-push-url="true"
            hx-indicator=".text-loader"
        />
        <div class="text-loader htmx-indicator"></div>
    </div>

    {% include 'recipe/components/spinner-and-recipe-grid.html' %}
{% endblock content %}

{% block scripts1 %}
    <script src="{% static 'htmx.js' %}"></script>
{% endblock scripts1 %}
