{% comment "READ THIS BEFORE TO UNDERSTAND WHAT'S GOING ON" %}
    This is the recipes-grid component used in multiple templates. It takes care of
    the pagination logic by checking if last recipe card shows up in user scrolling
    to issue up the request and append the next list of recipes to the recipes-grid.
    Of course, if there is any next page, otherwise it won't. This is made sure by the
    forloop.last and page_obj.has_next condition.

    Another Interesting note is the hx-get attribute to determine to which url to point to.
    Note we're using the brand new {% querystring %} tag introduced in Django 5.1
    check the documentation to understand why are we using it as they explain it better than I will.
    https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#querystring
{% endcomment %}

{% for recipe in recipe_list_pagination %}
    {% if forloop.last and recipe_list_pagination.has_next %}
        <div
            hx-get="{% querystring page=recipe_list_pagination.next_page_number %}"
            hx-trigger="revealed"
            class="recipe-card"
        >
            {% include 'recipe/components/recipe-card.html' %}
        </div>
    {% else %}
        <div class="recipe-card">
            {% include 'recipe/components/recipe-card.html' %}
        </div>
    {% endif %}



{# this is of course in case the recipes-grid will be empty #}
{# which could be the case in RecipeListView #}
{% empty %}
    <div class="empty-grid">
        No matching Recipes found for your search query.
    </div>

{% endfor %}
