{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Simply Recipes, Reverse Engineered with Django. Huge Thanks to John Smilga!">
        <meta name="author" content="Rida Zouga">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

        {% block styles %}{% endblock styles %}

        <title>
            {% block title %}{% endblock title %} | Simply Recipes
        </title>
    </head>

    <body>
        {% block body %}{% endblock body %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>