{% load static %}

<header class="header">
    <a href="{% url 'index' %}" class="logo">
        <img src="{% static 'logo.svg' %}" alt="simply recipes logo">
    </a>

    <div class="navigation-container">
        <nav class="navigation-grid">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'recipe-list' %}">Recipes</a>
            <a href="{% url 'tag-list' %}">Tags</a>
            <a href="{% url 'about' %}">About Us</a>
            <a href="#">
                <div>Contact Us</div>
            </a>
        </nav>
    </div>

    <img src="{% static 'icons/hamburger.svg' %}" alt="hamburger menu">
</header>

