{% load static %}

<header class="header">
    <a href="#" class="logo">
        <img src="{% static 'logo.svg' %}" alt="Simply Recipes Logo">
    </a>

    <div class="navigation-container">
        <nav class="navigation-grid">
            <a href="#">Home</a>
            <a href="#">Recipes</a>
            <a href="#">Tags</a>
            <a href="#">
                <div>Contact Us</div>
            </a>
        </nav>
    </div>

    <img src="{% static 'icons/hamburger.svg' %}" alt="hamburger menu">
</header>

