{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ view.kwargs.tag }}
    Recipe{{ recipe_list_pagination|length|pluralize }}
{% endblock title %}

{% block styles1 %}
    <link
        rel="stylesheet"
        href="{% static 'recipe/components/recipe-grid.css' %}"
    />
{% endblock styles1 %}

{% block content %}
    <h1 class="recipes-grid-title">
        {{ view.kwargs.tag }}
        Recipe{{ recipe_list_pagination|length|pluralize }}
    </h1>

    {% include 'recipe/components/spinner-and-recipe-grid.html' %}
{% endblock content %}

{% block scripts1 %}
    <script src="{% static 'htmx.js' %}"></script>
{% endblock scripts1 %}
